/node_modules
/public/hot
/public/uploads
/public/storage
/storage/*.key
/vendor
/html2
/resources/lang
/live
/development
.env
.htaccess
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
