/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');*/

html {
    font-size: 15px;
}

body {
    font-family: 'Helvetica';
    background: #ffffff;
    color: #141414;
    padding-top: 48px;
}

a,
.btn,
input,
input[type="search"],
input[type="submit"] {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
}

.table td,
.table th {
    padding: .65rem .7rem;
}

.tabel-align-middle td,
.tabel-align-middle th {
    vertical-align: middle;
}

.table-responsive>.table-bordered {
    border: 1px solid #dee2e6;
}

.table thead th {
    border-bottom: none;
    border-top: none;
    white-space: nowrap;
}

header ul,
footer ul,
aside ul {
    margin-bottom: 0px;
    list-style-type: none;
    padding: 0px;
}

a,
small {
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    /* color: #017baa; */
}

.btn {
    padding: .6rem 1.5rem;
    text-transform: capitalize;
    outline: none;
    border-radius: 6px;
}

.btn:not(:first-child) {
    margin-left: 3px
}

.btn:hover,
.btn:focus {
    color: #fff;
}

.btn-custom {
    background: #017baa;
    color: #ffffff;
    border: 1px solid transparent
}

.btn-primary {
    background-color: #017baa;
    border-color: #017baa;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #026b93;
    border-color: #006c95;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .5rem 1.4rem;
    border-radius: .2rem;
}

.btn-group-lg>.btn,
.btn-lg {
    /* padding: .7rem 1.7rem; */
    font-size: 1.2rem;
}

.btn-custom:hover,
.btn-custom:focus {
    background: #ffffff;
    color: #017baa;
    border-color: #017baa;
}

input.form-control,
input:not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="search"]),
select,
.form-control {
    box-shadow: none;
    font-size: inherit;
    color: inherit;
    border-color: #bebebe;
}

input.form-control,
select.form-control {
    min-height: 39px;
}

input.form-control-lg,
select.form-control-lg {
    min-height: 50px;
    font-size: 1.1rem;
}

input.form-control-sm,
select.form-control-sm {
    min-height: 34px;
}

.form-control:focus {
    color: #175163;
    border-color: #175163;
    outline: 0;
    box-shadow: none;
}

.custom-input-group {
    /* background: #fff; */
}

.custom-input-group .form-control,
.custom-input-group .form-control:focus {
    border-color: transparent;
    border: none;
    /* padding-left: 0px; */
}

.custom-input-group .input-group-text {
    padding: 7px 9px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0e3946;
    background: none;
    border: none;
    border-radius: .25rem;
}

.form-control::-webkit-input-placeholder {
    color: #aeaeae;
}

.form-control::-moz-placeholder {
    color: #aeaeae;
}

.form-control:-ms-input-placeholder {
    color: #aeaeae;
}

.form-control::-ms-input-placeholder {
    color: #aeaeae;
}

.form-control::placeholder {
    color: #aeaeae;
}

.modal-header {
    padding: 0;
    border-bottom: none;
    display: block;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.3;
    padding: 0.7rem 1rem;
    border-bottom: 1px solid #e9ecef;
    background: #e1e1e1;
    font-family: 'HelveticaBold';
}

.modal-header .close {
    width: 24px;
    background: #ff1200;
    line-height: 20px;
    color: #fff;
    opacity: 1;
    border-radius: 100%;
    position: absolute;
    padding: 0 0px 4px;
    right: -11px;
    outline: none;
    top: -10px;
    margin: 0px;
    font-size: 1.2rem;
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
    content: "\f00d";
}

.fa-angle-up:before {
    content: "\f106";
}

.custompadding {
    padding: 1.2rem 1.1rem;
}

.customborder {
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.56);
}

.color-white {
    color: #fff;
}

.overviewboxlist li:nth-child(1) a {
    background: #d71248;
}

.overviewboxlist li:nth-child(2) a {
    background: #0089cf;
}

.overviewboxlist li:nth-child(3) a {
    background: #0eb049;
}

.overviewboxlist li:nth-child(4) a {
    background: #b51e8f;
}

.overviewboxlist li:nth-child(5) a {
    background: #3ec7f5;
}

.viewfull-report:hover {
    color: #ffffffa3;
}

.overviewboxlist i.fa {
    font-size: 2.2rem;
}

.overviewboxlist h6 {
    font-size: 2.3rem;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.eot');
    src: url('../fonts/Helvetica.eot') format('embedded-opentype'), url('../fonts/Helvetica.woff2') format('woff2'), url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf') format('truetype'), url('../fonts/Helvetica.svg#Helvetica') format('svg');
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/HelveticaBold.eot');
    src: url('../fonts/HelveticaBold.eot') format('embedded-opentype'), url('../fonts/HelveticaBold.woff2') format('woff2'), url('../fonts/HelveticaBold.woff') format('woff'), url('../fonts/HelveticaBold.ttf') format('truetype'), url('../fonts/HelveticaBold.svg#HelveticaBold') format('svg');
}

.fontreg {
    font-family: 'Helvetica';
}

.fontbold {
    font-family: 'HelveticaBold';
}

.absolute {
    position: absolute;
}


/*  Login page style end here */

header {
    background: #017baa;
}

header a:hover {
    color: #e5e5e5;
}

.toprow,
.main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

figure.logo {
    background: #015f85;
    margin-bottom: 0px;
    padding: 0.67rem 1rem;
}

.lg-logo,
.logoin .sm-logo {
    display: none;
}

.logoin .lg-logo {
    display: block;
}

.top-bar {
    -ms-flex: 1;
    flex: 1;
    /* padding: 1rem 0px; */
}

.backlink a {
    font-size: 2rem;
    border-right: 1px solid #2b91b9;
    padding: 1rem 20px;
    min-height: 55px;
    height: 55px;
}

.backlink .actarrow:before {
    content: "\f00d";
}

.mobarrow.actarrow:before {
    /* content: "0a8"; */
}

.mobarrow:before {
    /* content: "0a9"; */
}

.actarrow img {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.h-search-col {
    padding-left: 20px;
    width: 100%
}

.topsearch-col {
    padding: 0px 5px;
}

.topsearches>.row {
    margin-right: -5px;
    margin-left: -5px;
}

.userlinks>ul>li.nav-item>a.nav-link {
    padding: 0rem 1.8rem 0rem 0rem;
    min-height: 55px;
}

.userlinks>ul>li.nav-item>.dropdown-toggle::after {
    display: none;
}

.userlinks>ul>li.nav-item>a.nav-link.profilelink {
    border-left: 1px solid #2b91b8;
    padding-left: 1rem;
    padding-right: 0rem;
}

.sidebar .nav-link:focus,
.sidebar .nav-link:hover {
    text-decoration: none;
    color: #e0f6fe;
}

.profileimg {
    max-width: 46px;
}

.bars-dropdown a[aria-expanded="true"]:before {
    content: "\f00d";
}

.prof-dropdown a[aria-expanded="true"] .username:before {
    content: "\f106";
}

.userdropdown .nav-link {
    line-height: 2.1rem;
    font-size: 1.5rem;
}

.ntifction-dropdown .dropdown-menu {
    min-width: 19rem;
}

.userlist .dropdown-menu {
    background: #015f85;
    color: #fff;
    padding: 0px;
    border: none;
    border-top: 1px solid;
    border-color: rgb(4, 109, 142);
    border-radius: 0px;
    top: 100% !important;
    transform: inherit !important;
    right: 0px;
    left: auto !important;
    font-size: 1rem;
    margin-top: 0rem;
    padding-bottom: 5px;
    font-size: 0.9rem;
}

.prof-dropdown .dropdown-menu {
    margin-top: 0rem;
    /* padding-bottom: 5px; */
    /* font-size: 0.9rem; */
}

.userlist .dropdown-menu .dropdown-item {
    color: inherit;
    white-space: nowrap;
}

.usercol+.usercol {
    border-top: 1px solid #175163;
}

.usercol>a {
    padding: 0.67rem 0.7rem;
    font-size: 0.933rem;
}

.usercol>a:hover,
.userlist .dropdown-item:hover {
    background: #017baa;
}

.usercol img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}

.user-data {
    padding-left: 10px;
    font-size: 0.9rem;
}

.msgname,
.notifi-name {}

.message {
    font-size: 13px;
}

.notiflink {
    display: block;
}

.notifi-name {
    margin-bottom: 1px;
}

.notifi-date {
    color: #00b6ff;
    display: inline-block;
    margin-top: 3px;
}

.prof-dropdown .username {
    margin-right: 1rem;
    padding-left: 1.3rem;
    line-height: 1.3;
    position: relative;
    text-transform: capitalize;
}

.prof-dropdown .username:before {
    content: "\f107";
    display: inline-block;
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
}

.userlist .dropdown-item {
    padding: 6px 12px;
}

.userlist .dropdown-divider {
    border-top: 1px solid #175163;
}

.bars-dropdown .dropdown-menu {
    padding: 12px 12px;
}

.openinv {
    margin-left: -12px;
    margin-right: -12px;
}

.sidebar {
    z-index: 100;
    font-size: 1rem;
    top: 97px;
    bottom: 0px;
}

.sidebar,
.sidebarbg,
figure.logo {
    width: 70px;
}

.sidebarbg {
    position: fixed;
    background: #017baa;
    height: 5000px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: -10;
}

.sidebarin .sidebarbg:after {
    /* width: 80px; */
}

.sidebarprof {}

.sideprotext {
    margin-top: 0.8rem;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}

.sidebarprof h6 {
    font-size: 1.3rem;
}

.sidebarprof small {
    font-size: 1rem;
}

.sidebarnav {
    padding: 0px
}

.sidebarnav ul {
    /* padding-top: 1.3rem; */
}

.sidebarnav ul>.nav-item {
    position: relative;
}

.sidebarnav ul .nav-link span {
    /* white-space:nowrap; */
    /* padding-left: 37px; */
    display: block;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sidebarnav ul .nav-link {
    border-bottom: 1px solid transparent;
    position: relative;
    padding: 12px 1rem 13px 3.2rem;
    min-height: 51px;
}

.sidebarnav ul .nav-link.dropdown-toggle {
    padding-right: 2rem;
}

.sidebarin ul .nav-link.dropdown-toggle {
    padding-right: 1rem;
}

.sidebarnav ul .nav-item:before,
.sidebarnav ul .nav-item:after,
.sidebarnav ul .nav-link:before,
.sidebarnav ul .nav-link:after {
    content: '';
    display: table;
    clear: both;
    border: none;
}

.sidebarnav .dropdown.show .nav-link:hover,
.sidebarnav .dropdown.show .nav-link:focus,
.sidebarnav li:hover .nav-link,
.sidebarnav li:focus .nav-link,
.sidebarnav .nav-link:hover,
.sidebarnav .nav-link:focus,
.sidebarnav .nav-item.active a {
    background: #036e98;
    border-bottom-color: #02648c;
}

.sidebarnav .dropdown-toggle::after {
    display: none;
}

.sidebarnav ul .dropdown.show .dropdown-toggle em:before {
    content: "\f106";
}

.sidebarnav .nav-link em {
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -8px;
}

.sidebarnav ul .nav-link>i.fa {
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
    margin-top: 0px;
    width: 1.6rem;
    text-align: center;
}

.sidebarnav .dropdown-menu {
    position: static;
    float: none;
    background: none;
    background: #015f85;
    color: #fff;
    border: none;
    padding: 0px;
    font-size: 0.95rem;
    margin-top: 0px;
}

.sidebarnav .dropdown-item {
    color: inherit;
    padding: 0.75rem 1rem 0.75rem 3rem;
    position: relative;
}

.sidebarnav .dropdown-item:before {
    content: "\f105";
    position: absolute;
    left: 1rem;
    font-family: fontawesome;
    width: 24px;
    text-align: center;
    line-height: 1;
    margin-top: 3px;
}

.sidebarnav .drp-counter .dropdown-item {
    padding-right: 4.6rem;
    position: relative;
}

.sidebarnav .dropdown-item:hover,
.sidebarnav .dropdown-item:focus {
    background: #036e98;
    color: #fff;
}

.sidebarin .sidebarnav ul .dropdown .dropdown-toggle em:before {
    content: "\f105";
}

.sidebarin .sidebarnav ul .dropdown.show .dropdown-toggle em:before {
    content: "\f104";
}

.sidebarin .sidebarnav ul .nav-link span,
.sidebarin .sideprotext {
    display: none;
    opacity: 0;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
    height: 0;
    margin-top: 0px;
}

.sidebarin .sidebarnav ul .nav-link img {
    margin-right: 0px;
}

.sidebarin .dropdown-menu {
    font-size: 1rem;
    position: absolute;
    left: 100%;
    top: 0px;
    margin-top: 0px;
    /* background: #0e3946; */
    border-radius: 0px;
}

.sidebarin .sidebarnav .dropdown-item {
    color: inherit;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #175163;
}

.sidebarin .dropdown-item:before {
    display: none;
}

.sidebarin .sidebarnav .drp-counter .dropdown-item {
    padding-right: 5rem;
}

.sidebarin .sidebarnav .dropdown-item:hover {
    /* background: #175163; */
    /* color: #fff; */
}

.linkcounter {
    position: absolute;
    background: #5bd6fc;
    right: 1rem;
    padding: 1px 5px;
    border-radius: 1px;
    font-size: 0.9rem;
    top: 7px;
}

.right-content {
    -ms-flex: 1;
    flex: 1;
    padding: 0rem 20px 2rem;
    overflow: hidden;
    position: relative;
}

.right-content-in {
    padding-left: 0px
}

.main-titl-row {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.56);
    margin: 0px -20px 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.search-col .custom-input-group {
    border-radius: 6px;
    /* border: 2px solid #e1e1e1; */
    overflow: hidden;
    background: #e6ebef;
}

.search-col .custom-input-group input {
    background: none;
}

.search-col .custom-input-group .input-group-text {
    padding: 8px 1rem 8px;
}

.h-search-col .custom-input-group {
    border-radius: 10px;
    border: 1px solid #ffffff;
    overflow: hidden;
    background: none;
    /* color: #fff; */
}

.h-search-col .custom-input-group .input-group-text {
    padding: 0px 12px;
    color: #ffffff;
    font-size: 1.3rem;
}

.menulink {
    margin-bottom: 30px;
}

.menulink>div {
    /* margin-bottom:30px; */
}

.menulink .fa {
    font-size: 3.5rem;
    padding-left: 0.5rem;
}

.menulink span {}

.actionicon {
    line-height: 25px;
    display: inline-block;
    width: 25px;
    color: #fff;
    border-radius: 2px;
}

.actionicon:hover,
actionicon:focus {
    color: #fff;
}

.actionicon:not(:first-child) {
    margin-left: 3px
}

.section-header {
    background: #017baa;
    padding: 9px 1.1rem;
    margin: -1.24rem -1.14rem 1.3rem;
    color: #fff;
}

.page-link {
    color: inherit;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #017baa;
    border-color: #017baa;
}

.dr-detail-col h6,
.dr-detail-col p {
    font-size: 0.9rem;
}

.todo-date {
    white-space: nowrap;
}

.dailywork .nav-link {
    border: 1px solid #e9e9e9;
}

.dailywork .nav-link {
    padding: 0.8rem 1.5rem;
    border-radius: 0px;
}

.dailywork .nav-item.show .nav-link,
.dailywork .nav-link.active {
    /* color: #ffffff; */
    /* background-color: #000000; */
    border-color: #dee2e6 #dee2e6 #fff;
}

.docterlist li .btn:hover {
    color: #fff;
    background-color: #017baa;
}

.doctorlist li a:hover,
.doctorlist li a.list-active {
    background: #017baa;
    color: #fff;
}

.procedure-checkboxes label {
    line-height: 1;
}

.procedure-checkboxes label input {
    margin-top: 2px;
}

#CustomDate>div {
    width: 100%;
}

.slotinfo {
    display: none;
    background: #017baa;
    z-index: 100000;
    bottom: 35px;
    margin-top: 2px;
    left: 0px;
    right: 0px;
    /* width: 130px; */
    font-size: 12px;
}

.slotinfo:after {
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #017baa;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -8px;
}

.slotLabel:hover .slotinfo {
    display: block;
}

#DataTables_Table_0_wrapper .dataTables_scrollBody {
    overflow: overlay !important;
}

@media (max-width:1199px) and (min-width:992px) {
    body {
        padding-top: 66px;
    }
    html {
        font-size: 14px;
    }
    figure.logo,
    .sidebarbg {
        width: 230px;
    }
    .sidebar {
        width: 230px;
        z-index: 100;
    }
    .userlinks>ul>li.nav-item>a.nav-link {
        padding: 0rem 1.7rem 0rem 0rem;
    }
    .userdropdown .nav-link {
        line-height: 2.1rem;
        font-size: 1.3rem;
    }
    .userdropdown .dropdown-menu {
        /* margin-top: 1.52rem; */
        /* min-width: 20rem; */
    }
    #profilelink img {
        max-width: 40px;
    }
    .sidebarnav ul .nav-link>img {
        width: 23px;
        margin-top: -4px;
        margin-right: 7px;
    }
    .sidebarnav ul .nav-link {
        padding: 11px 1rem 10px 3rem;
        min-height: 42px;
    }
    .sidebarnav ul .nav-link>i.fa {
        position: absolute;
        left: 1rem;
        font-size: 1.5rem;
        margin-top: -2px;
        width: 1.5rem;
        text-align: center;
    }
    .right-content {
        padding: 0rem 20px 2rem;
    }
    .main-titl-row {
        margin: 0px -20px 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .sidebarnav ul .nav-link span {
        /* padding-left: 32px; */
    }
    .menulinkrow {
        margin-right: -8px;
        margin-left: -8px;
    }
    .menulink {
        margin-bottom: 16px;
        padding-right: 8px;
        padding-left: 8px;
    }
    .menulink .fa {
        font-size: 2.5rem;
    }
    .overviewboxlist h6 {
        font-size: 1.8rem;
    }
    .overviewboxlist i.fa {
        font-size: 1.8rem;
    }
}

@media (max-width:991px) {
    html {
        font-size: 13px;
    }
    body {
        padding-top: 60px;
    }
    .btn {
        padding: .6rem 1.8rem;
        border-radius: 5px;
    }
    input:not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="search"]),
    select {
        min-height: 37px;
    }
    figure.logo,
    .sidebarbg {
        width: 70px;
    }
    .sidebar {
        /* width: 190px; */
        font-size: 1rem;
    }
    .backlink a.fa {
        font-size: 2.1rem;
    }
    .userlinks>ul>li.nav-item>a.nav-link {
        min-height: 60px;
    }
    .userdropdown .nav-link {
        font-size: 1.6rem;
    }
    .userdropdown .dropdown-menu {
        /* margin-top: 1.9rem; */
        /* min-width: 20rem; */
    }
    #profilelink img {
        max-width: 40px;
    }
    .sidebarnav ul .nav-link {
        padding: 11px 1rem 9px 3rem;
        min-height: 40px;
    }
    .sidebarnav ul .nav-link.dropdown-toggle {
        padding-right: 1.7rem;
    }
    .sidebarnav ul .nav-link>i.fa {
        font-size: 1.3rem;
        margin-top: 0px;
        width: 1.5rem;
    }
    .sidebarin ul .nav-link>i.fa {
        font-size: 1.5rem;
        left: 1.2rem;
        margin-top: -1px;
    }
    .sidebarnav .nav-link em {
        margin-top: -5px;
    }
    .sidebarin .sidebarnav .dropdown-item {
        padding: 0.8rem 1.3rem;
    }
    .right-content {
        padding: 0rem 20px 2rem;
    }
    .main-titl-row {
        margin: 0px -20px 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .title-col .maintitle {
        font-size: 1.5rem;
    }
    .menulinkrow {
        margin-right: -8px;
        margin-left: -8px;
    }
    .menulink {
        margin-bottom: 16px;
        padding-right: 8px;
        padding-left: 8px;
    }
    .menulink .fa {
        font-size: 2rem;
    }
    .profile-btns-col .btn {
        padding: .6rem 1.5rem;
    }
    .overviewboxlist h6 {
        font-size: 1.6rem;
    }
    .overviewboxlist i.fa {
        font-size: 1.6rem;
    }
}

@media (max-width:767px) {
    body {
        padding-top: 49px;
    }
    .btn {
        padding: .6rem 1.56rem;
        border-radius: 4px;
    }
    .btn-group-sm>.btn,
    .btn-sm {}
    .btn-group-lg>.btn,
    .btn-lg {
        padding: .7rem 1.5rem;
        font-size: 1.05rem;
    }
    .lg-logo {
        display: none;
    }
    .sm-logo {
        display: block;
    }
    figure.logo {
        width: 60px;
    }
    .userlinks>ul>li.nav-item>a.nav-link {
        min-height: 48px;
        padding: 0rem 1.2rem 0rem 0rem;
    }
    .backlink a.fa {
        font-size: 1.6rem;
        padding: 0.5rem 15px;
    }
    .search-icons {
        font-size: 1.6rem;
    }
    .h-search-col {
        padding-left: 15px;
    }
    .h-search-col .custom-input-group {
        border-radius: 8px;
        border: 1px solid #dedede;
    }
    .h-search-col .custom-input-group .input-group-text {
        padding: 0px 12px;
        color: #141414;
        font-size: 1.3rem;
    }
    .sidebarin .sidebarnav ul .nav-link span {
        /* display: none; */
    }
    .sidebar,
    .sidebarbg {
        width: 60px;
    }
    .sidebarin ul .nav-link>i.fa {
        font-size: 1.5rem;
        left: 1rem;
        margin-top: -1px;
    }
    .sidebarnav ul .nav-link {
        padding: 11px 1rem 9px 3rem;
    }
    .sidebarnav ul .nav-link.dropdown-toggle {
        padding-right: 1.5rem;
    }
    .sidebarnav .nav-link em {
        margin-top: -7px;
    }
    .sidebar .sidebarnav ul .nav-link span,
    .sidebar .sideprotext {
        opacity: 0;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
        height: 0;
        margin-top: 0px;
    }
    .sidebar .dropdown-item:before {
        display: none;
    }
    .sidebarin .sidebarnav ul .nav-link span,
    .sidebarin .sideprotext {
        display: block;
        height: auto;
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    .sidebarin .sideprotext {
        margin-top: 1rem;
    }
    .sidebar .dropdown-menu {
        font-size: 1rem;
        position: absolute;
        left: 100%;
        top: 0px;
        margin-top: 0px;
        border-radius: 0;
    }
    .sidebar .sidebarnav .dropdown-item {
        padding: 0.8rem 1.3rem;
    }
    .sidebarin .dropdown-menu {
        font-size: 1rem;
        position: static;
    }
    .sidebar .sidebarnav ul .dropdown.show .dropdown-toggle em:before {
        content: "\f104";
    }
    .sidebar .sidebarnav ul .dropdown .dropdown-toggle em:before {
        content: "\f105";
    }
    .sidebarin .sidebarnav ul .dropdown .dropdown-toggle em:before {
        content: "\f107";
    }
    .sidebarin .sidebarnav ul .dropdown.show .dropdown-toggle em:before {
        content: "\f106";
    }
    .right-content {
        padding: 0rem 15px 2rem;
    }
    .main-titl-row {
        margin: 0px -15px 20px;
        padding-left: 0;
        padding-right: 0;
    }
    .userdropdown .nav-link {
        font-size: 1.3rem;
    }
    #profilelink img {
        max-width: 34px;
    }
    .dr-detail-col {
        word-break: break-word;
    }
}

@media (max-width:576px) {
    body {
        /* padding-top: 66px; */
    }
    .userdropdown .nav-link {
        font-size: 1.3rem;
    }
    #profilelink img {
        max-width: 40px;
    }
    .prof-dropdown .username {
        display: none;
    }
    .userdropdown .dropdown-menu {
        /* margin-top: 1.5rem; */
    }
    .usercol img {
        width: 30px;
        height: 30px;
    }
    .usercol>a {
        padding: 0.67rem 0.7rem;
        font-size: 0.9rem;
    }
}

@media (max-width:479px) {}

.style {
    border: 1px solid;
    border-radius: 10px;
    padding: 3px 10px;
}

a.nav-link.mb-3.font-weight-bold.active {
    background-color: #017baa;
    color: #fff;
    padding-bottom: 5px;
}

a {
    cursor: pointer;
}

.modal-footer button[type="submit"] {
    background-color: #017baa !important;
    border-color: #017baa !important;
    color: #fff;
}

.modal-footer button[type="button"] {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.fixed-top {
    height: 55px !important;
}

.toprow {
    height: 55px !important;
}

.delete_tag {
    position: absolute;
    top: -4px;
    left: -4px;
    background-color: #000;
    font-size: 12px;
    color: white;
    border-radius: 50%;
    padding: 0 5px;
}

.delete_tag:hover {
    cursor: pointer;
}
#subservice_cat li a input { margin-right: 5px !important;}
.dataTables_scrollHead { overflow-x: hidden !important; }
.dataTables_scrollBody { overflow: overlay !important; }